<!DOCTYPE html>
<html lang="pt">
<%- include('head') %>
<body class="container">
    <%- include('header') %>
    <main>
        <div class="jumbotron">
            <h1>Sobre mim</h1>
            <p>Eu chamo me Rodrigues é estou a aprender Nodejs com EJS</p>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>
